
  <!DOCTYPE html>
<html>
  <head>  <title>ManBox</title>
     <link rel="stylesheet" type="text/css" href="css/homepage_style.css">
  </head>

<div class="nav-wrapper">
   <nav class="nav-menu">
      <ul class="clearfix">
         <li><a href="/">Home</a></li>
         <li><a href="/contact">Contact us</a>
         <ul class="sub-menu"> 
         </ul> 
         </li>
         <li><a href="about">About us</a>
         <ul class="sub-menu"> 
            
            
         </ul> 
         </li>
      </ul>
   </nav>
</div> 
  <style>
a:link, a:visited {.w3-btn,.w3-button
{border:none;
display:inline-block;
padding:8px 16px;
vertical-align:middle;
overflow:hidden;
text-decoration:none;
color:inherit;
background-color:inherit;
text-align:center;
cursor:pointer;
white-space:nowrap}
.w3-black,.w3-hover-black:hover
{color:#fff!important;
background-color:black!important}

.w3-round-small{border-radius:2px}
.w3-round,.w3-round-medium{border-radius:4px}
.w3-round-large{border-radius:8px}
.w3-round-xlarge{border-radius:16px}
.w3-round-xxlarge{border-radius:32px}
    background-color: grey;
    color: white;
  font-size:25px;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  font-family:courier
 
}


a:hover, a:active {
    background-color: black;
}style
img.a {
    vertical-align: baseline;
}
</style>
 <p style="font-size:80px;font-family:courier;text-align:center;color:white"> <img class="a" src="http://images.clipartpanda.com/box-clipart-4i9Eae76T.png" width="60" height="56"> The Man Box <img class="a" src="http://images.clipartpanda.com/box-clipart-4i9Eae76T.png" width="60" height="56"></p>
  <style>    
div.a {
  font-style: oblique;
  color:white;
  font-size:25px;
  width: 900px;
  margin: 0 auto;
  text-align: center;
}
</style>   
  <div class="a">
    <p class="oblique">About us: We are three girls working on entering the coding industry, trying to make life a little bit easier at a time. We came up with this web application while talking about how not many girls know what to give male figures in their life. If you think about it guys don't really get gifts on Valentine's Day or Anniversary, and sometimes girls don't always know what to get their male figures on holidays or birthdays. We hope this website helps you . Love, The ManBox Creators - Leyla, Wendy & Maya</p>
  </div>
  <style>
  p.c {
    white-space: pre;
}
  </style>
  <style>
.button {
    background-color: grey;
    border: none;
    color: white;
    padding: 15px 25px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    margin:0 auto;
    float:right;
    font-style: oblique;
    color:white;
    text-align: center;
    font-size:25px
}

.button:hover {
    background-color: black;
}
</style>
  <body>
    <!--<button class="button" action="/quiz">Get started</button>-->
    <form action="/quiz">
    <input type="submit" class = "button" value="Get Started" />
</form>
</body>

</html>
