<h1> This is a view </h1>
<html>
  <head>
 <title></title>
  </head>
  <body>
#title
    <p style="font-size:50px;font-family:courier;text-align:center;color:white">The Man Box. </p>

 <style>    
p.oblique {
    font-style: oblique;color:white;
}
</style> 
#ABOUT US SECTION  
    <p class="oblique"> about us:We are 3 girls working on entering the coding industry, trying to make life a little bit easier at a time. We came up with this web application while talking about how not many girls know what to give male figures in their life. If you think about it guys don't really get gifts on Valentine's Day or Anniversary, and sometimes girls don't always know what to get their male figures on holidays or birthdays. We hope this website helps you . Love, The ManBox Creators - Leyla, Wendy & Maya</p>
  </body>
  </html>