<!DOCTYPE html>
<html>
  <head>
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="css/homepage_style.css">
  </head>
  <div class="nav-wrapper">
   <nav class="nav-menu">
      <ul class="clearfix">
         <li><a href="/">Home</a></li>
         <li><a href="/contact">Contact us</a>
         <ul class="sub-menu"></ul> </li>
         <li><a href="/about">About us</a>
         <ul class="sub-menu"> 
           </ul> </li></ul></nav></div> 
  <style>
a:link, a:visited {.w3-btn,.w3-button{border:none;display:inline-block;padding:8px 16px;vertical-align:middle;overflow:hidden;text-decoration:none;color:inherit;background-color:inherit;text-align:center;cursor:pointer;white-space:nowrap}
.w3-black,.w3-hover-black:hover{color:#fff!important;background-color:black!important}

.w3-round-small{border-radius:2px}.w3-round,.w3-round-medium{border-radius:4px}.w3-round-large{border-radius:8px}.w3-round-xlarge{border-radius:16px}.w3-round-xxlarge{border-radius:32px}
    background-color: white;
    color: black;
  font-size:25px;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  font-family: 'Montserrat',sans-serif;
 
}


a:hover, a:active {
    background-color: #ea5e00;
}
img.a {
    vertical-align: baseline;
}
</style>
  

      <div class="logo"><img src="https://scontent-lga3-1.xx.fbcdn.net/v/t1.15752-0/s261x260/39442152_1925782460814512_4377206681243746304_n.png?_nc_cat=0&oh=22ccfe91d4331811d4b8ab6fbc0b9dd3&oe=5C11588A" height="200"></div>
  
  <div class="text">
    We believe men deserve gifts that stir a primal craze of chest bumps and cheers, not just polite half-smiles. The ManBox provides you a list of gifts that men actually really want and helps you celebrate the men in your life with less stress. We hope our 30-second quiz can remove all the guesswork and bring excitement and memories to you.
  </div> <body>
<form action="/quiz">
  <button class="button" >Get started</button>
</form>
  <div class="pattern"><img src="https://scontent-lga3-1.xx.fbcdn.net/v/t1.15752-9/s2048x2048/39262783_177994119659230_5978462392902746112_n.png?_nc_cat=0&oh=1655d366aaf08df78b2dd79a1197a77a&oe=5C04B966"></div></body>
   <style> 
    button:hover, button:active 
     {
    background-color: #ea5e00;
    }
     .button {   
  background-color: white;
  color: black;
  font-size:25px;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-family: 'Montserrat',sans-serif;
  border: none;
  #padding: 15px 25px;
  cursor: pointer;
  #margin-right: 540px;
 #float: right;
}

  </style>
</html>



<!--Collapse -->
<!--9:07 AM-->
<!--css final home -->