<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>What's in your ManBox?</title>
  </head>

  <body>
    <h1> What's In Your ManBox?</h1>

    <!-- Insert Your Form Below -->
    <form method="POST" action="/quiz">
      <p>What's your name? <input type="text" name="name"></p>
      
      <p>For whom are you shopping? </p>
      <input type="radio" name="I am shopping for my" value= "0" /> Lover<br /> 
      <input type="radio" name="I am shopping for my" value= "1" /> Male family members<br />
      <input type="radio" name="I am shopping for my" value= "2" /> Male colleagues<br />
      <input type="radio" name="I am shopping for my" value= "3" /> Male friends<br />
      
      <p>How old is the gift receiver? </p>
      <input type="radio" name="He is " value= "4" /> 18 and under<br /> 
      <input type="radio" name="He is " value= "5" /> 19-30<br />
      <input type="radio" name="He is " value= "6" /> 31-40<br />
      <input type="radio" name="He is " value= "7" /> 41 and above<br />
      
      <p>In what occasion are you shopping? </p>
      <input type="radio" name="The occasion is " value= "8" /> Birthday<br /> 
      <input type="radio" name="The occasion is " value= "9" /> Anniversary<br />
      <input type="radio" name="The occasion is " value= "10" /> Valentine’s day<br />
      <input type="radio" name="The occasion is " value= "11" /> Holidays (ex. Christmas, father’s day)<br />
      
      <p>What is the price range you are looking for? </p>
      <input type="radio" name="My price range is " value= "12" /> $20-50<br /> 
      <input type="radio" name="My price range is " value= "13" /> $50-200<br />
      <input type="radio" name="My price range is " value= "14" /> $200 and above<br />
      
      <input type="submit">
    </form>

  </body>
</html>