<!DOCTYPE html>
<html>
  <head> <title></title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="css/result_lov_abo_style.css">
  </head>
  <div class="nav-wrapper"><nav class="nav-menu"><ul class="clearfix"><li><a href="/">Home</a></li><li><a href="/contact">Contact us</a> <ul class="sub-menu"></ul> </li> <li><a href="#!">About us</a> <ul class="sub-menu"> </ul> </li></ul></nav></div> 
  <style>
a:link, a:visited {.w3-btn,.w3-button{border:none;display:inline-block;padding:8px 16px;vertical-align:middle;overflow:hidden;text-decoration:none;color:inherit;background-color:inherit;text-align:center;cursor:pointer;white-space:nowrap}
.w3-black,.w3-hover-black:hover{color:#fff!important;background-color:black!important}
.w3-round-small{border-radius:2px}.w3-round,.w3-round-medium{border-radius:4px}.w3-round-large{border-radius:8px}.w3-round-xlarge{border-radius:16px}.w3-round-xxlarge{border-radius:32px}
 background-color: white;
 color: black;
 font-size:25px;
 padding: 14px 25px;
 text-align: center;
 text-decoration: none;
 display: inline-block;
 font-family: 'Montserrat',sans-serif;}a:hover, a:active { background-color: #ea5e00;}img.a {vertical-align: baseline:}
</style>
      <div class="logo"><img src="https://scontent-lga3-1.xx.fbcdn.net/v/t1.15752-0/s261x260/39442152_1925782460814512_4377206681243746304_n.png?_nc_cat=0&oh=22ccfe91d4331811d4b8ab6fbc0b9dd3&oe=5C11588A" height="200"></div>
<style>
div.gallery {
    margin: 40px;
    border: 1px solid #ccc;
    float: left;
    width: 300px;
}
div.gallery:hover {
    border: 1px solid #777;
}
div.gallery img {
    width: 100%;
    height: auto;
}
div.desc {
    padding: 15px;
    text-align: center;
}
</style>
</head>
<body>
  <div class="gallery">
  <a target="_blank" href="/skincare">
    <img src="http://www.amway.com/lcl/AmwayImages/AmwayOrderableItem/118205-dv-qv.jpg" alt="skinc" width="600" height="400">
  </a>
  <div class="desc"> Skincare      
</div>
</div>
  <div class="gallery">
  <a target="_blank" href="https://www.amazon.com/Mens-Watches/b?ie=UTF8&node=6358539011">
    <img src="https://cdn.shopify.com/s/files/1/0238/6181/products/Limited_American_Issue_Dark_Blue_Front_1080_large.jpg?v=1494568314" alt="watch" width="600" height="400">
  </a>
  <div class="desc"> Watch  $50-200     
</div>
</div>
   <div class="gallery">
  <a target="_blank" href="https://www.amazon.com/s?url=search-alias%3Daps&field-keywords=cologne
">
    <img src="https://ak1.ostkcdn.com/images/products/6090752/P13760257.jpg?impolicy=medium" alt="soc" width="600" height="400">
  </a>
  <div class="desc"> Cologne $50-300      
</div>
</div>
   
 <div class="gallery">
  <a target="_blank" href="https://www.giftcards.com/">
    <img src="https://sophosnews.files.wordpress.com/2017/09/shutterstock_452159410.jpg?w=780&h=408&crop=1" alt="gift" width="600" height="400">
  </a>
  <div class="desc"> Gift cards      
</div>
</div>
  
 
  <div class="gallery">
  <a target="_blank" href="https://www.groupon.com/browse/new-york?lat=40.756&lng=-73.987&address=New+York+City&query=male+spa&division=new-york&locale=en_US
"><img src="http://d3ba08y2c5j5cf.cloudfront.net/wp-content/uploads/2017/01/16113815/Male-Spa-512x512.jpg" alt="spa" width="600" height="400">
  </a> Spa Procedures<div class="desc">          
</div>
</div>
 
  <div class="gallery">
  <a target="_blank" href="https://www.amazon.com/s?url=search-alias%3Dfashion-mens-watches&field-keywords=electric+shaver">
    <img src="https://images-na.ssl-images-amazon.com/images/I/817HnLoRqkL._SL1500_.jpg" alt="shaver" width="600" height="400">
  </a>
  <div class="desc"> Electric Shaver $20-200      
</div>
</div>
</html>