<!DOCTYPE html>
<html>
  <head> <title></title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="css/result_fri_bel_style.css">
  </head>
  <div class="nav-wrapper"><nav class="nav-menu"><ul class="clearfix"><li><a href="/">Home</a></li><li><a href="/contact">Contact us</a> <ul class="sub-menu"></ul> </li> <li><a href="#!">About us</a> <ul class="sub-menu"> </ul> </li></ul></nav></div> 
  <style>
a:link, a:visited {.w3-btn,.w3-button{border:none;display:inline-block;padding:8px 16px;vertical-align:middle;overflow:hidden;text-decoration:none;color:inherit;background-color:inherit;text-align:center;cursor:pointer;white-space:nowrap}
.w3-black,.w3-hover-black:hover{color:#fff!important;background-color:black!important}
.w3-round-small{border-radius:2px}.w3-round,.w3-round-medium{border-radius:4px}.w3-round-large{border-radius:8px}.w3-round-xlarge{border-radius:16px}.w3-round-xxlarge{border-radius:32px}
 background-color: white;
 color: black;
 font-size:25px;
 padding: 14px 25px;
 text-align: center;
 text-decoration: none;
 display: inline-block;
 font-family: 'Montserrat',sans-serif;}a:hover, a:active { background-color: #ea5e00;}img.a {vertical-align: baseline:}
</style>
      <div class="logo"><img src="https://scontent-lga3-1.xx.fbcdn.net/v/t1.15752-0/s261x260/39442152_1925782460814512_4377206681243746304_n.png?_nc_cat=0&oh=22ccfe91d4331811d4b8ab6fbc0b9dd3&oe=5C11588A" height="200"></div>
<style>
div.gallery {
    margin: 40px;
    border: 1px solid #ccc;
    float: left;
    width: 300px;
}
div.gallery:hover {
    border: 1px solid #777;
}
div.gallery img {
    width: 100%;
    height: auto;
}
div.desc {
    padding: 15px;
    text-align: center;
}
</style>
</head>
<body>
  <div class="gallery">
  <a target="_blank" href="/skincare">
    <img src="http://www.amway.com/lcl/AmwayImages/AmwayOrderableItem/118205-dv-qv.jpg" alt="skinc" width="600" height="400">
  </a>
  <div class="desc"> Skincare      
</div>
</div>
  <div class="gallery">
  <a target="_blank" href="https://www.dickssportinggoods.com/">
    <img src="https://images-na.ssl-images-amazon.com/images/I/41LX0OUUQIL._AC_US436_FMwebp_QL65_.jpg" alt="alc" width="600" height="400">
  </a>
  <div class="desc"> Sports Clothing $20-200   
</div>
</div>
  
<div class="gallery">
  <a target="_blank" href="https://www.amazon.com/Mens-Watches/b?ie=UTF8&node=6358539011">
    <img src="https://images-na.ssl-images-amazon.com/images/G/01/AMAZON_FASHION/2018/DNAV/MENS/WATCHES/4._CB502039571_.jpg" alt="ties" width="600" height="400">
  </a>
  <div class="desc">  Watch $20-100   
</div>
</div>

  <div class="gallery">
  <a target="_blank" href="https://www.eventbrite.com/">
    <img src="https://goldcoasttickets.com/blog/wp-content/uploads/2014/10/Generic-concert-tickets-small.jpg" alt="pods" width="600" height="400">
  </a>
 <div class="desc"> Movies/Concert Tickets $20-100      
</div>
</div>
  
<div class="gallery">
  <a target="_blank" href="https://www.bestbuy.com/site/audio/headphones/abcat0204000.c?id=abcat0204000
">
    <img src="http://media.idownloadblog.com/wp-content/uploads/2018/05/beats-studio-3.jpg" alt="" width="600" height="400">
  </a>
  <div class="desc"> Headphones $30-300
         
</div>
</div>
</html>